<% @books.each do |book| %>
<div class="container col-xs-12">
	<div class="book col-xs-12">
		<div class="col-xs-3">
			<%= image_tag book.image.url, class: "book-thumb center-block" %>
		</div>
		<div class="col-xs-9 book-details" class="col-xs-9">
			<h3>
			<%= link_to book.name, book %>
			</h3>
			<p class="book-author-details"> by <%= link_to "author name", book.author %> </p>
			<p> <%= truncate(book.description, length: 400) %> </p>
		</div>
	</div>
</div>
<div class="col-xs-12" style="text-align: center;">
  <%= will_paginate @books %>
</div>
<% end %>